<!doctype html>
<html lang="en">
<!-- Content Start -->
<div class="content">
  <body>
    <%- include('partials/header') %>

    <% if(results){ %> 
    <div class="Container mt-4">

        <!--<div class="card border-secondary">
            <div class="card-header">Editar Registro</div>
            <div class="card-body"> FONDO BLANCO-->

      <div class="container-fluid pt-4 px-4">
        <div  class="row g-4">
            <div class="col-sm-12 col-xl-150">
                <div class="bg-secondary rounded h-100 p-4">

                  <form action ="/updateRestaurants" method ="post">
                    <input id="id" name ="id" value="<%= results.id %>" hidden>

                    <div class="mb-3 d-flex justify-content-center">
                      <label for="image" class="form-label"></label>
                      <img src="<%= results.image %>" alt="Imagen del Producto">
                    </div>

                    <div class="mb-4">
                      <label for ="id" class="form-label">Código del menú</label>  
                      <input type="number" class="form-control" id="id" name="id" value="<%= results.id %>" tabindex="1" readonly >
                    </div>

                    <div class="mb-3">
                      <label for ="name" class="form-label">Nombre del Restaurante *</label>
                      <input type="text" class="form-control" id="name" name="name" value="<%= results.name %>" tabindex="1" >
                    </div>
                    <div class="mb-3">
                      <label for ="contact" class="form-label">Contacto *</label>
                      <input type="text" class="form-control" id="contact" name="contact" value="<%= results.contact %>" tabindex="1" required>
                    </div>

                    <div class="mb-3">
                      <label for ="email" class="form-label">E-mail *</label>
                      <input type="text" class="form-control" id="email" name="email" value="<%= results.email %>" tabindex="1" required>
                    </div>
                    <div class="mb-3">
                      <label for ="address" class="form-label">Direccion *</label>
                      <input type="text" class="form-control" id="address" name="address" value="<%= results.address %>" tabindex="1" required>
                    </div>

                    <div class="mb-3"> 
                      <label for="location" class="form-label">Localización *</label>
                      <input class="form-control" id="location" name="location" value="Latitud: <%= results.location.x %>, Longitud: <%= results.location.y %>" tabindex="1" required>
                   </div>
                    <div class="mb-3">
                      <label for ="createdAt" class="form-label">Creado</label>
                      <input class="form-control" id="createdAt" name="createdAt" value="<%= results.createdAt %>"  tabindex="1" readonly  >
                    </div>
                    <div class="mb-3">
                      <label for ="updatedAt" class="form-label">Modificado</label>
                      <input class="form-control" id="updatedAt" name="updatedAt" value="<%= results.updatedAt %>"  tabindex="1" readonly > 
                    </div>
                    
                    <div class="mb-3">
                      <label for="isActive" class="form-label">Activo/Inactivo *</label>
                      <select id="isActive" name="isActive" class="form-select" tabindex="2">
                          <!-- Opción Activo -->
                          <option value="true" <%= results.isActive === true || results.isActive === 'true' || results.isActive == 1 ? 'selected' : '' %>>true</option>
                          
                          <!-- Opción Inactivo -->
                          <option value="false" <%= results.isActive === false || results.isActive === 'false' || results.isActive == 0 ? 'selected' : '' %>>false</option>
                      </select>
                  </div>
                  
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Cambiar Imagen menú *</label>
                        <input class="form-control bg-dark" type="file" id="image">
                    </div>
          
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>  
                    <a href="/Restaurants" class="btn btn-danger">Cancelar</a>
                       
                </form>
               
            </div>
          </div>
        </div> 
    </div>

    <% } %>

   <!-- <h1><i class='bx bxs-castle'></i></h1> ICONO DE CASTILLO-->
 
  </body>
</div>
<!-- Content End -->
</html>